.content {
    padding: 1.5rem;
    border-radius: 0.75rem;
    transition: 0.3s ease-in;
    box-shadow: #000 0 0 0 0, #000 0 0 0 0, rgba(0, 0, 0, 0.1) 0 20px 25px -5px, rgba(0, 0, 0, 0.1) 0 8px 10px -6px;
}

.content:hover {
    transform: scale(105%);
}

.content .grid {
    display: grid;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: 100%;
}

.content .grid .img {
    margin-left: auto;
    margin-right: auto;
}

.content .grid .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content .grid .title h3 {
    font-weight: 700;
    margin: 0;
    font-size: inherit;
}
